





header{
display: flex;
max-width: 100%;
justify-content: space-between;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
background: #DEE0E1 ;
font-size: 1.05rem;
height: 2.5rem;
margin-top: 0.5rem;

}
.profile-image{width: 60%; height: 60%;}
.left-header{
display: flex;
justify-content: space-evenly;
max-width: 50%;


}

.menu-lists-horizontal{
margin-left: 1rem;
justify-content: space-around;

}
.menu-lists-horizontal a{
    margin: 0.1rem;
    color: #383B3D ;
    text-decoration: none;
}
.menu-lists-horizontal a:hover{
cursor: pointer;
border-bottom: 0.2rem solid black;
}



.recommended-title{display: flex;justify-content: space-between;}
h1{font-size: 2rem; font-weight: 800;}

.game-lists{display: flex;}

.game-lists div{margin-right: 1rem;margin-bottom: 1rem;}

.game-lists-one div{display: flex; justify-content: space-around;}



.end{display: flex; right: 0;}
.end p{margin: 0.2rem;}
.end div{display: flex; }
.end div{font-size: 0.7rem; font-style: bold;}


.bottom-footer{
display: flex;
justify-content: space-between;
}

.bottom-footer button{
min-width: 20%;
height: 3rem;

}

.bottom-footer p{
max-width: 70%;
}

.bottom-footer button{
display: flex;
justify-content: space-between;
align-items: center;
}
.top-footer ul{
display: flex;
justify-content: space-evenly;
text-decoration: none;
list-style: none;

}

.top-footer ul li a{text-decoration: none;color: #595A5A ;}

